.label {
    position: relative;
    top: 2px;
    font-weight: 600;
    font-size: 24px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: fit-content;

    padding: 14px 32px;
    border-radius: var(--borderRadius-button);

    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;

    border: none;
  }
  
  .active {
    background-color: var(--background2);
    color: var(--foreground1);
    box-shadow: inset var(--innerShadow);
    text-decoration: underline;
  }
  
  .inactive {
    color: var(--foreground1);
    background-color: var(--background1);
  }
  
  .inactive:hover {
    cursor: pointer;
    background-color: var(--background2);
    color: var(--foreground1);
  }