:root {
  --primary: #6554AF;
  --secondary: #9575DE;
  --foreground: #F9F9F9;
  --foreground2: #9D9D9D;
  --background1: #242226;
  --background2: rgba(79, 79, 79, 0.5);
  --iconBG: rgba(72, 65, 78, 0.5);

  --innerShadow: 0px 4px 8px rgba(0, 0, 0, 0.75);
  --dropShadow1: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --dropShadow2: 0px 1px 3px rgba(0, 0, 0, 0.3);
  --buttonDropShadow:
    var(--dropShadow1),
    var(--dropShadow2);

    --borderRadius-button: 20px;
    --borderRadius-content: 15px;

    --scrollbar1: var(--iconBG);
    --scrollbar2: #9D9D9D;
    --scrollbarHover: rgba(79, 79, 79, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

body {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;

  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  letter-spacing: 0;
  color: var(--foreground);
}

h1 {
  font-size: 64px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

p {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: var(--foreground)
}

a {
  text-decoration: none;
  color: var(--foreground)
}

/* Global scrollbar styling */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
  
::-webkit-scrollbar-track {
	margin: 10px;
  background-color: var(--background1);
	border-radius: var(--borderRadius-button);
	/* box-shadow:  */
}
  
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar1);
  border-radius: var(--borderRadius-button);
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background-color: var(--scrollbarHover);
    transition: background-color 0.3s ease;
}

/* Tentative breakpoint */

@media screen and (max-width: 512px) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
	}
}
